.modal-window {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-component {
	background: #fff;
	width: 700px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.modal-component h2 {
	margin-bottom: 30px;
}
