.users-list {
	overflow-y: scroll;
	overflow-x: hidden;
}

.user-card {
	padding: 10px;
	margin: 10px;
	background-color: #fff;
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-gap: 5px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	text-decoration: none;
	color: #000;
}

.user-card_active {
	border-bottom: 2px solid red;
}

.create-user__button {
	padding: 10px;
	margin: 10px;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
}
